.order{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 5% 25% 30% 30% 10%;
  align-items: center;
  width: 700px;
  height: 30px;

  div{
    overflow: hidden;
    text-align: center;
    cursor: pointer;

    &.active{
      font-weight: 600;

      &.asc{
        &:after{
          content: " ∨";
        }
      }

      &.desc{
        &:after{
          content: " ∧";
        }
      }
    }
  }
}

.tasks-list{
  margin: 0 auto;
}

.task-list__task-item{
  display: grid;
  position: relative;
  grid-template-columns: 5% 25% 30% 30% 10%;
  align-items: center;
  width: 700px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);

  div{
    text-align: center;
  }

  input{
    text-align: center;
    border: none;
  }

}

.task{
  position: relative;
}

.task-list__save-btn{
  position: absolute;
  right: -90px;
  top: 9px;
}

.pagination{
  margin: 30px auto;

  li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;

    &.active{
      font-weight: 800;
    }
  }
}